body {
    margin: 0;
    padding: 20px;
    background-color: #ffc885;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    background-color: #feac56;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
    color: #4d2f00;
    line-height: 1.5;
}

.box {
    background-color: rgba(255,255,255,0.4);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background-color: #ff8c00;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.02);
}

.resultado {
    margin-top: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}